.building {

background: url("../images/the-flatiron-building.png");
background-repeat: no-repeat;
width:1400px;
background-position:top;
}

body{

  font-family: Helvetica;
}

h1 {
    text-align: Center;
    Font-size:70px;
    font-weight:bold;
    color:white;
}

.nav1 {
  color:white;
  text-align: center;
  font-size:18px;
  text-decoration: underline;
}

h2 {
  font-size:32px;
  font-weight:bold;
  color:gray
  text-align:center;
}

.info {
  text-align: center;
  
}

.info p {
  font-size:14px;
}

.info h3 {
  font-size:23px;
  font-weight:bold;
}

.mid-section {
  background:url("../images/the-flatiron-building.png");
  height:30px;
}

.mid-section h2 {
  color:white;
  font-size:23px;
  font-weight:bold;
  text-align:center;
}

#footer {
  background-color: dimgray;
  height:20px;
  text-align:left;
  color:white;
  font-size: 11px;
}

.link {
    color:white;
    background-color: transparent;
    text-decoration: underline;
    font-size: 18px;
}
